body{
    font-family: "Futura";
    color: white;
    position: relative;
}
.background img{
    width: 100%;
    position: fixed;
}

.title{
    position: relative;
    top: 120px;
    left: -110px;
}

.title h1{
    width: 30%;
    font-size: 96px;
    font-weight: bold;
}

.title .vert{
    color: #7ED321;
}


.texte{
    position: absolute;
    width: 60%;
    left: 50%;
    top: 27%;
}

.texte p{
    font-size: 14px;
    line-height: 21.5px;
}
a{
    position: absolute;
    top: 73%;
    width: 30%;
    left: 36%;
}
