/* BASE */ 

.background img
{
  width: 100%;
  position: fixed;
}

h1
{
  top: 4%;
  position: absolute;
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Futura";
  font-style: bold;
  Line-Height: 96px;
}

.continue
{
  position: absolute;
  background-color: #F73361;
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 110%;
  margin-top: 20%;
}

.continue a
{
  color: #ffffff;
  text-decoration: none;
  font-family: "Futura";
}

.precedent
{
  position: absolute;
  background-color: #F73361;
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -30%;
  margin-top: 20%;
}

.precedent a
{
  color: #ffffff;
  text-decoration: none;
  font-family: "Futura";
}
 

 /* AVOCAT */ 

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.ficheavocat {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.ficheavocat .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.ficheavocat .close:hover {
    color: #06D85F;
}

.ficheavocat .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.avocat 
{
margin-top: 20%;
left: 10%;
}

/* AIL */ 

.ficheail {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.ficheail .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.ficheail .close:hover {
    color: #06D85F;
}

.ficheail .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.ail
{
margin-top: -5%;
left: -2%;
}

/* BANANE */ 

.fichebanane {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichebanane .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichebanane .close:hover {
    color: #06D85F;
}

.fichebanane .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.banane
{
margin-top: 14%;
left: 32%;
}

/* QUINOA */ 

.fichequinoa {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichequinoa .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichequinoa .close:hover {
    color: #06D85F;
}

.fichequinoa .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.quinoa
{
margin-top: 20%;
left: 63%;
}

/* KALE */ 

.fichekale {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichekale .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichekale .close:hover {
    color: #06D85F;
}

.fichekale .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.kale
{
margin-top: 36%;
left: 8%;
}

/* PASTEQUE */ 

.fichepasteque {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichepasteque .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichepasteque .close:hover {
    color: #06D85F;
}

.fichepasteque .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.pasteque
{
margin-top: 37%;
left: 18%;
}

/* SOJA */ 

.fichesoja {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichesoja .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichesoja .close:hover {
    color: #06D85F;
}

.fichesoja .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.soja
{
margin-top: 40%;
left: 58%;
}

/* POMME */ 

.fichepomme {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichepomme .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichepomme .close:hover {
    color: #06D85F;
}

.fichepomme .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.pomme
{
margin-top: 40%;
left: 76%;
}

/* CAFÉ */ 

.fichecafe {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichecafe .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichecafe .close:hover {
    color: #06D85F;
}

.fichecafe .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.cafe
{
margin-top: 57%;
left: 10%;
}

/* CACAO */ 

.fichecacao {
    z-index:200;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.fichecacao .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.fichecacao .close:hover {
    color: #06D85F;
}

.fichecacao .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.cacao
{
margin-top: 57%;
left: 67%;
}

#popup1{
  z-index: 100;
}


#popup2{
  z-index: 101;
}


#popup3{
  z-index: 150;
}


#popup4{
  z-index: 151;
}


#popup5{
  z-index: 165;
}


#popup6{
  z-index: 170;
}


#popup7{
  z-index: 180;
}