/* button + */

.help{
    display:inline-block;
    margin-left:130px;
    margin-right:130px;
    margin-top: 50%;
    filter: drop-shadow(12px 10px 10px #000);
}

.fruits{
    display:inline-block;
    position: absolute;
}


