/* button + */

.help{
    display:inline-block;
    margin-top: 50%;
}

.help2{
    display:inline-block;
    margin-left:240px;
    margin-right:240px;
    margin-top: 50%;

}

/* TEMOIGNAGES */


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.temoignage {
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.temoignage .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 70px;
    font-weight: lighter;
    text-decoration: none;
    color: #ffffff;
}

.temoignage .close:hover {
    color: #ffffff;
}

.temoignage .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.textPopup {
    color: black;
}





/* HISTOIRE */


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.histoire {
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.histoire .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.histoire .close:hover {
    color: #06D85F;
}

.histoire .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.textPopup {
    color: black;
}


/* BIEN-FAITS */


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.bienfaits {
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
}

.bienfaits .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.bienfaits .close:hover {
    color: #06D85F;
}

.bienfaits .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}

.textPopup {
    color: black;
}