@font-face {
    font-family: 'Futura-Bold';
    src: url('../police/FuturaStd-Bold.otf');

}

@font-face {
    font-family: 'Futura-Medium';
    src: url('../police/FuturaStd-Medium.otf');

}

@font-face {
    font-family: 'Futura-Book';
    src: url('../police/FuturaStd-Book.otf');

}

body {
    background-color: black;
}

.chimic {
    height: 800px;
    background-image: url(../images/degradation_sol.jpg);
    background-position: center;
    opacity: 0.3;
    transition-duration: 2s;
    text-align: center;
    border: solid;

}

.monoculture {
    height: 800px;
    background-image: url(../images/agrochimie.png);
    background-repeat: no-repeat;
    transition-duration: 2s;
    text-align: center;
    border: solid;
    opacity: 0.3;

}

.biodiverity {
    height: 800px;
    background-image: url(../images/biodiversite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 2s;
    text-align: center;
    border: solid;
    opacity: 0.3;
}

.ground {
    height: 800px;

    background-image: url(../images/deforestation.jpg);
    transition-duration: 2s;
    text-align: center;
    border: solid;
    opacity: 0.3;
}

.row h1 {
    color: white;
    font-family: Futura-Book;

}

.row .ground h1 {
    color: white;
}


.circle {
    width: 70px;
    height: 70px;
    margin: 180% auto 0% auto;
    border: solid;
    border-color: white;
    border-radius: 50px;
    position: relative;


}

.circle img {
    position: absolute;
    width: 60px;
    top: 5px;
    left: 3px;

}

.chimic:hover {
    opacity: 1;
    transition-duration: 1s;
}

.monoculture:hover {
    opacity: 1;
    transition-duration: 1s;
}

.biodiverity:hover {
    opacity: 1;
    transition-duration: 1s;
}

.ground:hover {
    opacity: 1;
    transition-duration: 1s;
}


.exit {
    position: fixed;
    top: 10px;
    right: -10px;
    width: 150px;
}

.exit img {
    width: 150px;
}

.exit2 {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 150px;
    transform: rotate(180deg);
}

.exit2 img {
    width: 150px;
}


/*popup*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 0px auto;
    padding: 0px;
    background-color: currentColor;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup2 {
    margin: 0px auto;
    padding: 0px;
    background-color: currentColor;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    z-index: 1;
}

.popup .close:hover {
    color: #06D85F;

}

.popup .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-image: radial-gradient(circle at center, red 0%, blue 50%);
}



/*deforestaion popup*/

.defoImg {
    width: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg2 {
    right: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg img {
    border-radius: 5px;
    height: 100%;

}



.text {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 80px;
    transition-duration: 2s;


}


.text p {
    font-size: 15px;
    color: white;
}

.conteneurText {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText2 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText3 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}


.text2 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 50px;
    transition-duration: 2s;


}

.text2 p {
    font-size: 15px;
    color: white;
}

.conteneurText4 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText5 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText6 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}


.circlePopup {
    border: solid;

    top: 90%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup img {
    width: 50px;


}

.circlePopup2 {
    border: solid;
    transform: rotate(180deg);
    top: 80%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup2 img {
    width: 50px;


}

/*
.circlePopup2:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}

.circlePopup:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}
*/

/*transform popup*/

.moveUpImage {
    transform: translateY(-100vw);
    transition-duration: 2s;
}

.moveDownText {
    transform: translateY(100vw);
    transition-duration: 2s;
}

.moveUpImage2 {
    transform: translateY(100vw);
    transition-duration: 2s;
}

.moveDownText2 {
    transform: translateY(-100vw);
    transition-duration: 2s;
}

.opacityButton {
    opacity: 0;
    transition-duration: 1s;
}




/*mono popup*/

.defoImg3 {
    width: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg4 {
    right: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg3 img {
    border-radius: 5px;
    height: 100%;

}



.text3 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 10px;
    transition-duration: 2s;

}


.text3 p {
    font-size: 15px;
    color: white;
}

.conteneurText7 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText8 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText9 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.text4 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 50px;
    transition-duration: 2s;

}

.text4 p {
    font-size: 15px;
    color: white;
}

.conteneurText10 {
    width: 600px;
    height: 400px;
    padding: 40px;
}

.conteneurText11 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText12 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}






.circlePopup3 {
    border: solid;

    top: 90%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup3 img {
    width: 50px;


}

.circlePopup4 {
    border: solid;
    transform: rotate(180deg);
    top: 80%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup4 img {
    width: 50px;


}

/*
.circlePopup4:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}

.circlePopup3:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}
*/

/*BIO popup*/

.defoImg5 {
    width: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg6 {
    right: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg5 img {
    border-radius: 5px;
    height: 100%;

}



.text5 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 10px;
    transition-duration: 2s;

}


.text5 p {
    font-size: 15px;
    color: white;
}

.conteneurText13 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText14 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText15 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.text6 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 50px;
    transition-duration: 2s;

}

.text6 p {
    font-size: 15px;
    color: white;
}

.conteneurText16 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText17 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}

.conteneurText18 {
    width: 600px;
    height: 400px;
    padding: 40px;
    margin: auto;
}





.circlePopup5 {
    border: solid;

    top: 90%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup5 img {
    width: 50px;


}

.circlePopup6 {
    border: solid;
    transform: rotate(180deg);
    top: 80%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
    z-index: 3;
}

.circlePopup6 img {
    width: 50px;


}

/*
.circlePopup6:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}

.circlePopup5:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}
*/

/*dégra popup*/

.defoImg7 {
    width: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg8 {
    right: 50%;
    display: inline-block;
    transition-duration: 2s;
    position: relative;
}

.defoImg7 img {
    border-radius: 5px;
    height: 100%;

}



.text7 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 10px;
    transition-duration: 2s;

}


.text7 p {
    font-size: 15px;
    color: white;
}

.conteneurText19 {
    width: 600px;
    height: 400px;
    padding: 40px;
}

.conteneurText20 {
    width: 600px;
    height: 400px;
    padding: 40px;
}

.conteneurText21 {
    width: 600px;
    height: 400px;
    padding: 40px;
}

.text8 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 46%;
    width: 54%;
    height: 100%;
    margin-top: 10%;
    /*background-color: red;*/
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 50px;
    transition-duration: 2s;

}

.text8 p {
    font-size: 15px;
    color: white;
}


.conteneurText22 {
    width: 600px;
    height: 400px;
    padding: 40px;
}

.conteneurText23 {
    width: 600px;
    height: 400px;
    padding: 40px;
}

.conteneurText24 {
    width: 600px;
    height: 400px;
    padding: 40px;
}




.circlePopup7 {
    border: solid;

    top: 90%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup7 img {
    width: 50px;


}

.circlePopup8 {
    border: solid;
    transform: rotate(180deg);
    top: 80%;
    left: 94.5%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 6px;
}

.circlePopup8 img {
    width: 50px;


}

/*
.circlePopup8:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}

.circlePopup7:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}
*/
